.container {
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 568px) {
	.container {
		width: 550px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
