.bnch-nav {
	background: rgb(42, 42, 42);
	color: rgb(241, 241, 241);
	position: fixed;
	top: 0;
	font-size: 19px;
	display: inline-block;
	vertical-align: middle;
}
.page-content {
	margin-top: 70px;
	margin-left: 15px;
	margin-right: 15px;
}
