.page-status {
	width: auto;
	padding: 10px;
	border-radius: 3px;
}
.page-status--failure {
	background: #FFEEEE;
	border: 1px solid #FFBBBB;
	color: #AA4444;
}
.page-status--success {
	background: #EEFFEE;
	border: 1px solid #BBFFBB;
	color: #44AA44;
}
